body {
    background: url(./images/fruit.jpg) no-repeat center center fixed
}
.all {
    border: 2px solid black;
    width: 40%;
    padding: 20px 0px;
    margin: 50px 450px;
    background: #33495e;
    opacity: .9;

}
.form-group {
    position: relative;
}
.btn{
   position: absolute;
   left: 240px;
   top: -20px
}
.form-group p {
    color: #5cb85c;
    text-align: left;
}

.form-group small {
    position: absolute;
    color :red;
    left :10px;
    top:66px;

}


input.ng-invalid.ng-touched {
    border : 2px solid red;
    transition: .5s;
}
input[disabled="disabled"] {
    opacity: 0.4;
    cursor: not-allowed !important;
}

.form-group input {
    padding-left: 40px;
    width: 50%;
}



.form-group i {
    position: absolute;
    left: 0;
    top: 40px;
    padding-left: 10px;
    color: #aaa;
}






